/artifacts/

/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-VoyageLimbo

/shots/

/build/
/out/
/dist/
/oblivion/

*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb
*.ilk
*.exp
*.pyc
__pycache__/

.vs/
.vscode/
*.sln
*.vcxproj*
*.suo
*.user
.idea/
*.swp
*~

Thumbs.db
.DS_Store
